---
import Cursor from "../components/components/Cursor.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Lorenzo Marchisio</title>
  </head>
  <body
    class="bg-gray-50 selection:bg-red-700/15 overflow-x-hidden overflow-y-auto"
  >
    <Cursor />
    <slot />
  </body>
</html>
